Jinja2 == 2.10.3 
MarkupSafe == 1.1.1
Werkzeug == 0.16.0
aniso8601 == 8.0.0
astroid == 2.3.3 
click == 7.0
flask == 1.1.1
flask-cors == 3.0.8 
flask-restplus == 0.13.0
isort == 4.3.21
itsdangerous == 1.1.0
lazy-object-proxy == 1.4.3
mccabe == 0.6.1 
packaging == 20.0
pluggy == 0.13.1
py == 1.8.1
pydocstyle == 5.0.2
pylint == 2.4.4
pytest == 5.3.4
pytest-flask == 0.15.0
pytz == 2019.3
redis == 3.3.11
snowballstemmer == 2.0.0
typed-ast == 1.4.1
wcwidth == 0.1.8
wrapt == 1.11
jwt