    body {
        font-size: 16px;
        color: white;
        background-color: #6DAEDB;
        font-family: Arial, sans-serif;
    }
    /**************** TOGGLE SWITCH CUSTOMIZATION ***********************/
    /* The switch - the box around the slider */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    /* Hide default HTML checkbox */
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* The slider */
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #6DAEDB;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #006989;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-color: #6DAEDB;
    }
    /************************************* SLIDER RANGE STUFF ****************************************/
    
    input[type=range] {
        -webkit-appearance: none;
        /* Hides the slider so that custom slider can be made */
        width: 100%;
        /* Specific width is required for Firefox. */
        background: transparent;
        /* Otherwise white in Chrome */
    }
    
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    
    input[type=range]:focus {
        outline: none;
        /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
    
    input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    /* Special styling for WebKit/Blink */
    
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid #1B4353;
        height: 16px;
        width: 16px;
        border-radius: 5px;
        background: #006989;
        cursor: pointer;
        /* vertical-align: -webkit-baseline-middle; */
        margin-top: -4px;
        /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        box-shadow: 1px 1px 1px #1B4353, 0px 0px 1px #0d0d0d;
        /* Add cool effects to your sliders! */
    }
    
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        background: #6DAEDB;
        border-radius: 1.3px;
        /* border: 0.2px solid #010101; */
    }
    
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #367ebd;
    }
    /************* OTHER UI ELEMENTS **********************/
    
    #label-onSwitch {
        padding: 5px;
        align-content: center;
        margin-top: 25px;
        /* padding-top: 5px; */
        /* background-color: */
    }
    
    #device-info {
        color: black;
        float: right;
        margin-top: 20px;
    }
    /*#ledOFF {
  background-color:;
}*/
    /*.btn-toggle-selected {
  background-color:yellow; 
}

.btn-toggle-deselected {
  background-color:black;
  color:white; 
}*/
    /*.btn-toggle:active {
  background-color: black;
  color:white;
   /*z-index: 3;*/
    /*}*/
    /*
.btn-toggle:active, .btn-toggle:focus {
  background-color: red;
}*/
    
    .btn-device {
        border-style: none;
        border-width: 2px;
        /* color: black; */
        margin: 5px;
        background-color: #6DAEDB;
        padding: 5px;
        border-radius: 10px;
    }
    
    .btn-device:hover,
    .btn-device:focus,
    .btn-device:active,
    .btn-device.active,
    .open>.dropdown-toggle.btn-device {
        background-color: white;
        color: black;
    }
    /*.btn-success {
  background-color: white;

}
*/
    
    .device-params {
        /* margin-bottom: 10px; */
        padding: 10px;
        /* margin: 10px; */
        vertical-align: middle;
        background-color: #2892D7;
    }
    
    .look-disabled {
        opacity: 0.4;
        pointer-events: none;
    }
    
    .look-enabled {
        opacity: 1;
        pointer-events: all;
    }
    
    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        /*position: absolute;*/
        z-index: 30;
        opacity: 80;
        background: rgba(39, 42, 43, 0.8);
        transition: opacity 200ms ease-in-out;
        border-radius: 4px;
        /*margin: -15px 0 0 -15px;*/
        /*button { 
  margin:5px;
  } */
        /*  &:hover {
    opacity: 1;
  }*/
    }
    
    .icon-connected {
        display: hidden;
    }
    
    .icon-disconnected {
        display: hidden;
    }
    
    .label-current-device {
        border-style: none;
        font-weight: 200;
        /*border-width:2px;*/
        border-color: black;
        color: white;
        margin: 5px;
        padding: 10px;
        /* background-color: #3A83F5; */
        /*border-radius: 10px;*/
        /*height:55px;*/
        min-height: 60px;
        min-width: 270px;
    }
    
    .ui-label {
        border-style: none;
        /* border-width: 5px; */
        border-color: black;
        color: white;
        padding: 10px;
        background-color: #006989;
        border-radius: 10px;
        margin: 5px;
        /*maring-left:-5px;*/
    }
    
    #inputName {
        width: 100%;
        border-radius: 5px;
    }
    /*#device-name {
  display:inline-block;
  white-space: nowrap;
}
*/
    
    #save-name {
        margin-left: 10px;
        margin-right: 10px;
        /*padding-left:10px;*/
        /*padding-right:10px;*/
        border-radius: 5px;
    }
    
    #name-form {
        /*margin-right: 10px;*/
        padding-right: 15px;
    }
    
    #main-content .row {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .form-control-range {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .label-device {
        border-style: none;
        border-width: 2px;
        border-color: white;
        background-color: white;
        color: #173753;
        /*margin-left:5px;*/
        /*margin-right:5px;*/
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }
    
    .label-heartbeat {
        border-style: none;
        /*border-width:2px;*/
        border-color: white;
        /* background-color: #006989; */
        background-color: #2892D7;
        /* color: white; */
        /* margin-left: 5px; */
        /* margin-right: 5px; */
        padding: 10px;
        min-height: 60px;
        min-width: 270px;
        /*border-radius: 10px;*/
    }